/*div{
    display: flex;
    justify-content: center;
}

otra forma de centrar la imagen
.centrado{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    */
.texto-centrado{
    display: flex;
    justify-content: center;
    text-align: center;
}
.contenedor{ 
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1440px){
    body{
        background-color: red;
    }
    img{
        width: 50%;
    }
    p{
        font-size: 24px;
    }

}

@media (max-width: 768px){
    body{
        background-color: green;
    }

    p{
        font-size: 18px;
    }

    img{
        width: 70%;

    }
}
  
@media (max-width: 425px){
    body{
        background-color: blue;
    }
    p{
        font-size: 14px;
    }
    img{
        width: 100%;
    }
}
